$color-violet-dark:#9c00ff;
$color-violet-light:#c07aec;

$color-grey-lighter:#999;
$color-grey-light:#777;
$color-grey-dark:#555;
$color-grey-darker:#333;


$grid-width:114rem;
$gutter-horizontal:6rem;
$gutter-horizontal-small:3rem;
$gutter-vertical:0rem;