.launch{

    &__product {
        position:absolute;
        border-radius: 1.5rem;
        display:inline-block;
        transition: all 0.4s;
        height:40%;
        width:20%;
        background-size: cover;
        display:inline-block;
        background-size: cover;
        background-position:center;
        border: 1px solid $color-grey-light;
        top:45%;
        left:50%;
        z-index:5;

        @media screen and (min-width:1377px){
            top:45%;
        }

        @media screen and (min-width:901px) and (max-width:1080px){
            width:25%;
            height:35%;
        }

        @media screen and (min-width:501px) and (max-width:900px){
            width:21%;
            height:25%;
            top:45%;
        }

        @media screen and (min-width:501px) and (max-width:700px){
            width:25%;
            height:25%;
        }
        @media screen and (min-width:301px) and (max-width:500px){
            width:30%;
            height:15%;
        }

    &--1 {
        
        background-image: url(../img/coming_soon1.jpg);
        
        transform: translate(-200%,-35%);

        @media screen and (min-width:901px) and (max-width:1080px){
            transform: translate(-170%,-70%);
        }

        @media screen and (min-width:501px) and (max-width:900px){
            transform: translate(-155%,-70%);
        }
        @media screen and (min-width:301px) and (max-width:500px){
            transform:translate(-45%,-218%);
        }

        &:hover {
            transform:scale(1.05) translate(-200%,-35%);
            outline:5px solid $color-grey-lighter;
            outline-offset: 1rem;
            z-index:6;

            @media screen and (min-width:901px) and (max-width:1080px){
                transform: scale(1.02) translate(-170%,-70%);
            }
            @media screen and (min-width:501px) and (max-width:900px){
                transform: scale(1.02) translate(-148%,-70%);
            }
            @media screen and (min-width:301px) and (max-width:500px){
                transform:scale(1.02) translate(-45%,-218%);
            }
        }
    }
    &--2 {
        
        background-image: url(../img/coming_soon2.jpg);
        
        transform: translate(-125%,-35%);
        @media screen and (min-width:901px) and (max-width:1080px){
            transform: translate(-125%,-5%);
        }
        @media screen and (min-width:501px) and (max-width:900px){
            transform: translate(-125%,0);
        }
        @media screen and (min-width:301px) and (max-width:500px){
            transform:translate(-45%,-110%);
        }
        &:hover {
            transform:scale(1.05) translate(-125%,-35%);
            outline:5px solid $color-grey-lighter;
            outline-offset: 1rem;
            z-index:6;

            @media screen and (min-width:901px) and (max-width:1080px){
                transform: scale(1.02) translate(-125%,-5%);
            }
            @media screen and (min-width:501px) and (max-width:900px){
                transform: scale(1.02) translate(-125%,0);
            }
            @media screen and (min-width:301px) and (max-width:500px){
                transform:scale(1.02) translate(-45%,-110%);
            }
        }
    }
    &--3 {
        
        background-image: url(../img/coming_soon3.jpg);
        
        

        transform: translate(-50%,-35%);
        @media screen and (min-width:901px) and (max-width:1080px){
            transform: translate(-50%,-70%);
        }
        @media screen and (min-width:501px) and (max-width:900px){
            transform: translate(-50%,60%);
        }
        @media screen and (min-width:301px) and (max-width:500px){
            transform:translate(-45%,-5%);
        }
        &:hover {
            transform:scale(1.05) translate(-50%,-35%);
            outline:5px solid $color-grey-lighter;
            outline-offset: 1rem;
            z-index:6;

            @media screen and (min-width:901px) and (max-width:1080px){
                transform: scale(1.02) translate(-50%,-70%);
            }
            @media screen and (min-width:501px) and (max-width:900px){
                transform: scale(1.02) translate(-50%,60%);
            }
            @media screen and (min-width:301px) and (max-width:500px){
                transform:scale(1.02) translate(-45%,-5%);
            }
        }

    }
    &--4 {
        
        background-image: url(../img/coming_soon4.jpg);
        transform: translate(25%,-35%);

        @media screen and (min-width:901px) and (max-width:1080px){
            transform: translate(25%,-5%);
        }
        @media screen and (min-width:501px) and (max-width:900px){
            transform: translate(25%,0);
        }
        @media screen and (min-width:301px) and (max-width:500px){
            transform:translate(-45%,100%);
        }
        &:hover {
            transform:scale(1.05) translate(25%,-35%);
            outline:5px solid $color-grey-lighter;
            outline-offset: 1rem;
            z-index:6;

            @media screen and (min-width:901px) and (max-width:1080px){
                transform: scale(1.02) translate(25%,-5%);
            }
            @media screen and (min-width:501px) and (max-width:900px){
                transform: scale(1.02) translate(25%,0);
            }
            @media screen and (min-width:301px) and (max-width:500px){
                transform:scale(1.02) translate(-45%,100%);
            }
        }
    }
    &--5 {

        background-image: url(../img/coming_soon5.jpg);
        transform: translate(100%,-35%);
        
        @media screen and (min-width:901px) and (max-width:1080px){
            transform: translate(72%,-70%);
        }

        @media screen and (min-width:501px) and (max-width:900px){
            transform: translate(57%,-70%);
        }
        @media screen and (min-width:301px) and (max-width:500px){
            transform:translate(-45%,205%);
        }
        &:hover {
            transform:scale(1.05) translate(100%,-35%);
            outline:5px solid $color-grey-lighter;
            outline-offset: 1rem;
            z-index:6;

            @media screen and (min-width:901px) and (max-width:1080px){
                transform: scale(1.02) translate(72%,-70%);
            }

            @media screen and (min-width:501px) and (max-width:900px){
                transform: scale(1.02) translate(50%,-70%);
            }
            @media screen and (min-width:301px) and (max-width:500px){
                transform:scale(1.02) translate(-45%,205%);
            }
        }
    }
    }

    &:hover  &__product:not(:hover){
        filter:blur(0.5rem);
        height:37%;
        width:18.5%;

        @media screen and (min-width:901px) and (max-width:1080px){
            filter:blur(0.5rem);
            height:33%;
            width:22%;
        }

        @media screen and (min-width:501px) and (max-width:900px){
            filter:blur(0.5rem);
            height:23%;
            width:19%;
        }
        @media screen and (min-width:301px) and (max-width:500px){
            filter:blur(0.5rem);
            height:13%;
            width:28%;
        }
        
    }
    
}
