.svg {
    position:absolute;
    right:10%;
    top:50%;
    transform: translateY(-50%);
    height:40%;
    width:50%;
    background-size: cover;
    z-index:50;

    @if respond(desktop){
        right:2%;
        transform: translateY(-40%);
    }
    @media screen and (min-width:301px) and (max-width:500px){
        transform:translate(-12vw,-20vh);
        height:100%;
        width:70%;
    }
}

svg{
    width:100%;
    height:100%;
}


#frontleg {
    animation:front 2s linear infinite;
    transform-origin: top;
    transform-box: fill;
}

#hindhand {
    animation:front 2s linear infinite;
    transform-origin:center 10%;
    transform-box: fill;
}
#hindleg {
    animation:hind 2s linear infinite 1s;
    transform-origin: top;
    transform-box: fill;
}

#fronthand {

    animation:hind2 2s linear infinite 1s;
    transform-origin:top;
    transform-box: fill;
}

#head {
    animation:head 1.5s linear infinite;
    transform-origin:center;
    transform-box: fill;
}