.comingsoon {
    position:relative;
    height:100vh;
}

.surprises {
    position:relative;
    height:100vh;
}

.most {
    position:relative;
    height:100vh;
}

.review {
    position:relative;
    height:100vh;
}

.reviewform {
    position:relative;
    height:100vh;
}